.cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 1%;
    grid-row-gap: 5%;
    margin-top: 1%;
}

.h2 {
    grid-column: 1 / span 1; /* Posición en la columna 1 */
    justify-self: center; /* Centrar horizontalmente dentro de la celda */
  }
  
.image {
    grid-column: 3 / span 1; /* Posición en la columna 3 */
    justify-self: center; /* Centrar horizontalmente dentro de la celda */
    border-radius: 30%;
}